.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 36px;
    &:hover {
        background-color: #E2E2EE;
        cursor: pointer;
    }
}

.text {
    font-weight: bold;
}
